.AppleDouble
auto-save-list
.zshrc.local
.vimrc.local
.vim/bundle
.vim/dein/repos/
.vim/dein/.cache/
.emacs.d/ac-comphist.dat
.emacs.d/el-get/
.emacs.d/elpa/
.emacs.d/network-security.data
.config/configstore/
.emacs.d/.emacs.d
.vim/.vim
.config/fish/fish_variables
.config/fish/completions
.config/fish/conf.d
.config/fish/functions
.config/fish/fish_plugins
.config/fish/themes/
.config/nvim/plugin/packer_compiled.lua
.config/nvim/lazy-lock.json
.hammerspoon/window_layouts.json
