# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Tomokazu Hirai
	email = tomokazu.hirai@gmail.com
[ghq]
	root = ~/go/src
	# root = /Users/thirai/.gvm/pkgsets/go1.14.7/global/src
	# root = /Users/thirai/.gvm/pkgsets/go1.14.7/global/ghq
	# root = /Users/thirai/.gvm/pkgsets/go1.14.7/global/ghq

