#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3


! Base16 Monokai
! ! Scheme: Wimer Hazenberg (http://www.monokai.nl)
!
!  Zenburn and Molokai
! *background: #191919
! *foreground: #d0d0d0
! *cursorColor: #d0d0d0
! *color0: #101010
! *color1: #960050
! *color2: #66aa11
! *color3: #c47f2c
! *color4: #30309b
! *color5: #7e40a5
! *color6: #3579a8
! *color7: #9999aa
! *color8: #303030
! *color9: #ff0090
! *color10: #80ff00
! *color11: #ffba68
! *color12: #5f5fee
! *color13: #bb88dd
! *color14: #4eb4fa
! *color15: #d0d0d0

! switch to zenburn
! hacked version of http://ompldr.org/vaG9icw/xiin10.png
! URxvt*transparent: 0
! URxvt*foreground: #d4d4d4
! URxvt*background: #101010
! URxvt*color0: #333333
! URxvt*color1: #91ba0d
! URxvt*color2: #aadb0f
! URxvt*color3: #ffffff
! URxvt*color4: #666666
! URxvt*color5: #d7d7d7
! URxvt*color6: #d4d4d4
! URxvt*color7: #d3d3d3
! URxvt*color8: #333333
! URxvt*color9: #aadb0f
! URxvt*color10: #aadb0f
! URxvt*color11: #aadb0f
! URxvt*color12: #666666
! URxvt*color13: #d7d7d7
! URxvt*color14: #d4d4d4
! URxvt*color15: #d3d3d3

URxvt.font: xft:RictyDiminished-Regular:pixelsize=13
URxvt.scrollBar: false
Xft.antialias:              true
