! Base16 Monokai
! ! Scheme: Wimer Hazenberg (http://www.monokai.nl)
!
!  Zenburn and Molokai
*background: #191919
*foreground: #d0d0d0
*cursorColor: #d0d0d0
*color0: #101010
*color1: #960050
*color2: #66aa11
*color3: #c47f2c
*color4: #30309b
*color5: #7e40a5
*color6: #3579a8
*color7: #9999aa
*color8: #303030
*color9: #ff0090
*color10: #80ff00
*color11: #ffba68
*color12: #5f5fee
*color13: #bb88dd
*color14: #4eb4fa
*color15: #d0d0d0

! switch to zenburn
! hacked version of http://ompldr.org/vaG9icw/xiin10.png
! URxvt*transparent: 0
! URxvt*foreground: #d4d4d4
! URxvt*background: #101010
! URxvt*color0: #333333
! URxvt*color1: #91ba0d
! URxvt*color2: #aadb0f
! URxvt*color3: #ffffff
! URxvt*color4: #666666
! URxvt*color5: #d7d7d7
! URxvt*color6: #d4d4d4
! URxvt*color7: #d3d3d3
! URxvt*color8: #333333
! URxvt*color9: #aadb0f
! URxvt*color10: #aadb0f
! URxvt*color11: #aadb0f
! URxvt*color12: #666666
! URxvt*color13: #d7d7d7
! URxvt*color14: #d4d4d4
! URxvt*color15: #d3d3d3

URxvt.font: xft:ricty:pixelsize=14
Xft.antialias:              true
